<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.helpdesk.signin.dao.mybatis.PayPeriodMapper">

	<resultMap id="PayPeriodEndMapper" type="edu.helpdesk.signin.model.PeriodEnd">
		<id     property="id"  column="PeriodEndId" />
		<result property="end" column="PeriodEnd" />
	</resultMap>

	<resultMap id="PayPeriodMapper" type="edu.helpdesk.signin.model.PayPeriod">
		<result property="startOfPeriod" column="Start" />
		<result property="endOfPeriod" column="End" />
	</resultMap>
	
	<select id="getPayPeriodForDate" resultMap="PayPeriodMapper">
		<!-- public PayPeriod getPayPeriodForDate(@Param("d")Date d); -->
		SET @date = #{d};
		SET @PeriodStart = (SELECT PeriodEnd from PeriodEnd WHERE PeriodEnd &lt; @date ORDER BY PeriodEnd DESC LIMIT 1);
		SET @PeriodEnd   = (SELECT PeriodEnd from PeriodEnd WHERE PeriodEnd &gt; @date ORDER BY PeriodEnd ASC  LIMIT 1);
		SELECT @PeriodStart AS Start, @PeriodEnd AS End;
	</select>
	 
	<select id="getAllPayPeriodEnds" resultMap="PayPeriodEndMapper">
		<!-- public List<PeriodEnd> getAllPayPeriodEnds(); -->
		SELECT PeriodEndId, PeriodEnd FROM PeriodEnd
	</select>
	
	<select id="getPayPeriodEnd">
		<!-- public PeriodEnd getPayPeriodEnd(@Param("id") Integer id); -->
		invalid
	</select>
	
	<update id="updatePayPeriodEnd">
		<!-- public void updatePayPeriodEnd(@Param("end") PeriodEnd end); -->
		invalid
	</update>
	
	
	<insert id="createPayPeriodEnd">
		<!-- public Integer createPayPeriodEnd(@Param("end") PeriodEnd end); -->
		INSERT INTO PeriodEnd (PeriodEnd) VALUES (#{end})
	</insert>
	
	<delete id="deletePayPeriodEnd">
		<!-- public void deletePayPeriodEnd(@Param("id")Integer id); -->
		invalid
	</delete>


</mapper>