<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
	<meta charset="utf-8">
	<title>Helpdesk Administration</title>
	<link rel="stylesheet" href="/signin/css/bootstrap.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/signin/css/bootstrap-theme.min.css" type="text/css" charset="utf-8">
	<style type="text/css">
	.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
	
	body{
		background-image: url('/signin/images/background.png');
		background-attachment: fixed;
	}
	html, body {
	   /*  margin: 0; */
	    height: 100%;
	}
	</style>
</head>
<body>

	<div ng-controller="AdminNavCtrl" class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand"  href="#/">Helpdesk Administration</a>
			</div>
			<ul class="nav navbar-nav">
				<!-- TODO adjust visibility of these depending on permission levels -->
				<li class="{{isActive('') ? 'active' : ''}}"><a href="#/">Dashboard</a></li>
				<li ng-if="hasLevel('SCC')" class="{{isActive('timecard') ? 'active' : ''}}"><a href="#/timecard">Timecards</a></li>
				<li ng-if="hasLevel('SCC_LEAD')" class="{{isActive('employeemgmt') ? 'active' : ''}}"><a href="#/employeemgmt">Employee Management</a></li>
				<li ng-if="hasLevel('SUPERVISOR')" class="{{isActive('mod') ? 'active' : ''}}"><a href="#/mod">Admin</a></li>
				<li ng-if="hasLevel('SYSADMIN')" class="{{isActive('sysadmin') ? 'active' : ''}}"><a href="#/sysadmin">Sysadmin</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- Add active class to li for effects -->
				<li><a>{{usermsg}} {{username}} {{type}}</a></li>
				<li><a href="{{logoutUrl}}">Logout</a></li>
			</ul>
		</div>
	</div>
	<!-- ng-view will be swapped out for the different content sections -->
	<ng-view></ng-view>

	<script type="text/javascript" src="/signin/js/lib/angular.min.js"></script>
	<script type="text/javascript" src="/signin/js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script type="text/javascript" src="/signin/js/admin/app.js"></script>
	<script type="text/javascript" src="/signin/js/admin/navctrl.js"></script>
	<script type="text/javascript" src="/signin/js/admin/services.js"></script>
	<script type="text/javascript" src="/signin/js/admin/homecontroller.js"></script>
	<script type="text/javascript" src="/signin/js/admin/editemployeectrl.js"></script>
	<script type="text/javascript" src="/signin/js/admin/timecardctrl.js"></script>
	<script type="text/javascript" src="/signin/js/admin/modctrl.js"></script>
	<script type="text/javascript" src="/signin/js/admin/sysadmin.js"></script>
</body>
</html>
