<!DOCTYPE html>
<html lang="en" ng-app="apiApp">
<head>
<meta charset="utf-8">
<title>Helpdesk Signin API reference</title>

<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css" charset="utf-8">

<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript">
	angular.module('apiApp', []).controller('ApiRefCtrl', ['$scope', '$http', '$location', function($scope, $http, $location) {
		
		$scope.data = [];
		$scope.base = '/signin/rest';
		
		$scope.toCsv = function(l){
			if(!l) return '';
			
			out = '';
			for(var i = 0; i < l.length; i++){
				out += l[i];
				if(i < l.length - 1){
					out += ', ';
				}
			}
			return out;
		}
		
		$scope.getHost = function(){
			return $location.protocol() + '://' + $location.host() + ':' + $location.port();
		}
		
		$http.get('/signin/rest/docs/apireference').success(function(data){
			data = data.apiEndpoints;
			var out = [];
			
			for(var i = 0; i < data.length; i++){
				var prefix = data[i].path;
				var paths = data[i].subpaths;
				
				//out.push({path: prefix, description: 'Methods starting with ' + prefix});
				
				for(var j = 0; j < paths.length; j++){
					paths[j].path = prefix + paths[j].path;
					out.push(paths[j]);
				}
			}
			
			$scope.data = out;
		});
	}]);
	</script>
	<style type="text/css">
	body{
		font-size: 13px;
	}
	</style>
</head>
<body ng-controller="ApiRefCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading"><h3 class="panel-title">API reference</h3></div>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>URL</th>
									<th>Method</th>
									<th>Description</th>
									<th>Parameter Class</th>
									<th>Potential Query Parameters</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="apiRef in data">
									<td ng-if="apiRef.method == 'GET'" style="white-space:nowrap;"><a href="{{getHost() + base + apiRef.path}}">{{base + apiRef.path}}</a></td>
									<td ng-if="apiRef.method != 'GET'" style="white-space:nowrap;">{{base + apiRef.path}}</td>
									<td>{{apiRef.method}}</td>
									<td>{{apiRef.description}}</td>
									<td>{{apiRef.paramClass}}</td>
									<td>{{toCsv(apiRef.queryParams)}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>





