<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			
			<div class="panel panel-default">
				<div class="panel-heading">Create New Employee</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						
						<div class="form-group">
							<label for="netidc" class="col-sm-2 control-label">Net ID</label>
							<div class="col-sm-10">
								<div class="input-group">
									<input  type="text" class="form-control" id="netidc" placeholder="Net ID" ng-model="newEmployee.netId">
									<span class="input-group-btn">
	       								 <button class="btn btn-default {{fingerDisabled ? 'disabled' : ''}}" type="button"  ng-click="finger()">Finger</button>
	      							</span>
								</div>
							</div>
						</div>
						<div ng-if="errorMessage != null" class="alert alert-danger" role="alert">{{errorMessage}}</div>
						
						<div class="form-group">
							<label for="fnamec" class="col-sm-2 control-label">First Name</label>
							<div class="col-sm-10">
								<input class="form-control" id="fnamec" placeholder="First Name" ng-model="newEmployee.firstName">
							</div>
						</div>
		
						<div class="form-group">
							<label for="lnamec" class="col-sm-2 control-label">Last Name</label>
							<div class="col-sm-10">
								<input class="form-control" id="lnamec" placeholder="Last Name" ng-model="newEmployee.lastName">
							</div>
						</div>
		
						<div class="form-group">
							<label for="riceidc" class="col-sm-2 control-label">Rice ID</label>
							<div class="col-sm-10">
								<input class="form-control" id="riceidc" placeholder="Rice ID" ng-model="newEmployee.riceId">
							</div>
						</div>
						
						<div class="form-group">
							<label for="employeetypec" class="col-sm-2 control-label">Employee Type</label>
							<div class="col-sm-10">
								<select class="form-control" id="employeetypec" ng-model="newEmployee.employeeType" ng-options="e for e in employeeTypes"></select>
							</div>
						</div>
		
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default"
									ng-click="createEmployee()">Create User</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-3">
		
			<div class="panel panel-default">
				<div class="panel-heading">Select Employee To Edit</div>
				<div class="panel-body">
					<select class="form-control" ng-model="activeEmployee" ng-options="getDisplayName(e) for e in employees track by e.id"></select>
				</div>
			</div>
		
			<div class="panel panel-default">
				<div class="panel-heading">Edit Employee</div>
				<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="fname" class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input class="form-control" id="fname" placeholder="First Name" ng-model="activeEmployee.firstName">
						</div>
					</div>
	
					<div class="form-group">
						<label for="lname" class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input class="form-control" id="lname" placeholder="Last Name" ng-model="activeEmployee.lastName">
						</div>
					</div>
	
					<div class="form-group">
						<label for="netid" class="col-sm-2 control-label">Net ID</label>
						<div class="col-sm-10">
							<input class="form-control" id="netid" placeholder="Net ID" ng-model="activeEmployee.netId">
						</div>
					</div>
	
					<div class="form-group">
						<label for="riceid" class="col-sm-2 control-label">Rice ID</label>
						<div class="col-sm-10">
							<input class="form-control" id="riceid" placeholder="Rice ID" ng-model="activeEmployee.riceId">
						</div>
					</div>
					
					<div class="form-group">
						<label for="employeetype" class="col-sm-2 control-label">Employee Type</label>
						<div class="col-sm-10">
							<select class="form-control" id="employeetype" ng-model="activeEmployee.employeeType" ng-options="e for e in employeeTypes"></select>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default"
								ng-click="saveChanges()">Save Changes</button>
						</div>
					</div>
					
				</form>
				</div>
			</div>
		</div><!-- /col3 -->
		
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Active Employees</div>
				<table class="table table-striped table-condensed">
					<tbody>
						<tr ng-repeat="employee in employees">
							<td>{{getDisplayName(employee)}}</td>
							<td><button class="btn btn-default btn-xs" ng-click="setEmployeeActive(employee, false)">Retire</button></td>
						</tr>		
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">Retired Employees</div>
				<table class="table table-striped table-condensed">
					<tbody>
						<tr ng-repeat="employee in retiredEmployees">
							<td>{{getDisplayName(employee)}}</td>
							<td><button class="btn btn-default btn-xs" ng-click="setEmployeeActive(employee, true)">Reactivate</button></td>
						</tr>		
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
