<div ng-if="user == null" class="loading-screen">
	Loading...
</div>
<div class="container-fluid" ng-if="user != null">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">Pending Correction Requests</div>
			<div class="panel-body" ng-if="corrections.length <= 0">
				<i>No pending corrections</i>
			</div>
			<table ng-if="corrections.length > 0" class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th colspan="3" class="text-center">Original Signin Data</th>
						<th colspan="3" class="text-center">Signin Data After Correction</th>
						<th></th>
						
					</tr>
					<tr>
						<th>Employee</th>
						<th>Time in</th>
						<th>Time</th>
						<th>Duration</th>
						<th>Time in</th>
						<th>Time out</th>
						<th>Duration</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="correction in corrections">
					<td>{{correction.submitter.firstName}}</td>
					<td>{{formatDate(correction.originalSigninTime)}}</td>
					<td>{{formatDate(correction.originalSignoutTime)}}</td>
					<td>{{getOriginalDuration(correction)}}</td>
					<td>{{formatDate(correction.newSigninTime)}}</td>
					<td>{{formatDate(correction.newSigninTime)}}</td>
					<td>{{getNewDuration(correction)}}</td>
					<td><button class="btn btn-default" ng-click="resolveCorrectionRequest(correction, true)">Approve</button>
					<button class="btn btn-default" ng-click="resolveCorrectionRequest(correction, false)">Deny</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Signed in employees</div>
			<ul class="list-group" >
				<li class="list-group-item" ng-repeat="employee in signedInEmployees">
					{{getEmployeeDisplayName(employee)}} 
					<button class="btn btn-link" ng-click="toggleSigninState(employee)" title="Force signout this user">
						<span class="glyphicon glyphicon-remove-circle"></span>
					</button>
				</li>
				<li class="list-group-item" ng-if="signedInEmployees.length == 0"><i>No signed in employees</i></li>
			</ul>
		</div>
	</div>
</div>
